<form action="/company/create" method="post">
    <label for="number">NAME OF COMPANY</label>
    <input type="text" name="CompanyName" />
    <label for="number">ADDRESS OF COMPANY</label>
    <input type="text" name="Address" />
    <label for="number">NUMBER OF EMPLOYEES</label>
    <input type="number" name="EmployeeCount" />
    <input type="submit" value="Submit"/>
</form>